.page-enter-active, .page-leave-active {
    transition: opacity $trans;
}

.page-enter, .page-leave-active {
    opacity: 0;
}

.trans {
    transition: all $trans ease;
    
    &:hover, &:focus {
        transition: all $trans ease;
    }
}