html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: darken($F, 3%)
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#__nuxt {
    width: 100%;
    height: 100%;
}

header {
    background-color: $F;
    padding: 10px 0;
    border-bottom: solid 1px darken($F, 8%);
}

main {
    flex-grow: 1;
    padding: 20px 0 30px;
}

footer {
    // border-top: solid 1px darken($F, 10%);
    padding: 10px 0;
    // color: $B;
}

.container {
    width: 1000px;
    max-width: calc(100% - 40px);
    margin: auto;
    
    &.fluid {
        max-width: calc(100% - 40px);
        width: unset;
    }
}

.page {
    &-header {
        padding: 10px 0;
        border-bottom: solid 1px $gray;
    }

    &-title {
        font-weight: 300;
    }

    &-content {
        padding: 20px 0;
    }
}

.window {
    background-color: $F;
    border-radius: 3px;
    padding: 15px;
    border: solid 1px darken($F, 8%);
}