* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $primary;

    &:hover {
        color: darken($primary, 10%)
    }
}

input, select {
    outline: none;
    border: solid 1px darken($F, 8%);
    border-radius: 2px;
    padding: 5px 8px;

    &:focus {
        border-color: $blue;
        @extend .trans;
    }
}

select {
    cursor: pointer;
}

.navigate {
    margin: 10px 0;
    display: inline-block;
}

.notification {
    font-weight: 300; 
}