.icon {
    width: 18px;
    height: 18px;
    color: $primary;
    vertical-align: text-bottom;
    
    &--h-reverse {
        transform: scale(-1, 1)
    }
}

polygon, rect, path {
    fill: currentColor;
}