// -----------------------------------------------------------------------------
//
//    Fonts
//
// -----------------------------------------------------------------------------

$fontsDirectory: '/assets/fonts/';

$baseFontSize: 16px;

$baseLineHeight: 16px;

$h1: 50;

$h2: 26;

$h3: 22;

$p: 15;

$h4: $p;

$h5: 14;

$h6: 11;

// -----------------------------------------------------------------------------
//
//    Colors
//
// -----------------------------------------------------------------------------

$green: #34b83f;

$blue: #0076b7;

$yellow: #ffae00;

$red: #FF000F;

$gray: #8a8a8a;

$F: #FFF;

$B: #000;

$vue: #41b883;

// -----------------------------------------------------------------------------
//
//    Functional colors
//
// -----------------------------------------------------------------------------

$primary: $blue;

$warning: $yellow;

$info: $blue;

$danger: $red;

$success: $green;

// -----------------------------------------------------------------------------
//
//    Transitions
//
// -----------------------------------------------------------------------------

$trans: .3s;

$anim: .5s;

// -----------------------------------------------------------------------------
//
//    Layout 
//
// -----------------------------------------------------------------------------

$grid-columns: 24;

// -----------------------------------------------------------------------------
//
//    Other
//
// -----------------------------------------------------------------------------

$z-layers: (
    'sky',
    'popover',
    'tooltip',
    'dropdown',
    'alert',
    'modal',
    'modal-curtain',
    'header',
    'main',
    'footer',
    'base',
    'dungeon',
    'blackHole'
);

$custom-widths: ();

// -----------------------------------------------------------------------------
//
//    Custom breakpoints
//
// -----------------------------------------------------------------------------
$breakpoints: (
    'ms': 320px,    // Mobile Small
    'ml': 500px,    // Mobile Large
    'ts': 768px,    // Tablet Small
    'tl': 992px,    // Tablet Large
    'ls': 1200px,   // Laptop Small
    'll': 1350px,   // Laptop Large
    'ds': 1600px,   // Desktop Small
    'dl': 1900px,   // Desktop Large
    'ws': 2200px,   // Widescreen Small
    'wl': 2500px    // Widescreen large
);