@charset "UTF-8";

/* -----------------------------------------------------------------------------
    Author: GieMik8
    Description: ABB style
    Email: giemik8@gmail.com
----------------------------------------------------------------------------- */

// -----------------------------------------------------------------------------
//
//    Imports
//
// -----------------------------------------------------------------------------

@import 'theme/settings';

@import 'helpers/mixins';
@import 'helpers/media-queries';

@import 'layout/layout';

@import 'theme/typography';

@import 'state/transitions';

@import 'modules/table';

@import 'base/icon';
@import 'base/base';

.nuxt-progress {
    margin: auto;
    height: 5px !important;
    // background-color: green !important;
}

